@{
    ViewData["Title"] = "Home Page";
}
<form>
    <input type="text" />
    <button type="submit" class="btn btn-outline-primary">Gönder</button>
</form>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
